.main {
  display: flex;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: ubuntu, sans-serif;
}
.main_container {
  width: 100%;
  display: flex;
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.CV_tag a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.contact_me_main {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid crimson;
}
.contact_me_main:hover {
  background-color: transparent;
}
.links_container {
  margin-top: 20px;
  width: 100%;
}
.links {
  width: 25%;
  margin-left: 40px;
}
.App {
  width: 40%;
  margin-top: 60px;
}
.image_style {
  height: 400px;
  width: 400px;
}
@media screen and (max-width: 1000px) {
  .image_animated {
    visibility: hidden;
  }
  .App{
    width: 100%;
  }
}
.image_animated {
  display: flex;
  justify-content: center;
  width: 60%;
}
.App {
  color: white;
}
.intro {
  font-size: 27px;
}
.what_i_do {
  color: rgb(231, 5, 51);
}
.transition {
  font-size: 40px;
  margin: 5px 0;
}
.name {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
